<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebPaymentGateway</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/normalize.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link href="~/css/estilos.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/main-portal.css" rel="stylesheet" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebPaymentGateway.styles.css" asp-append-version="true" />
</head>

<body>
    <header class="encabezado">
        <div class="container-titulo_principal container-titulo-paciente">
            <div class="container">
                <img src="~/img/ico-portalpaciente.png" class="ico-portalpaciente">
                <h1 class="titulo_principal">
                    Portal del Paciente
                </h1>
            </div>
        </div>
        <hr class="header-separador">
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer>
        <div class="container-footer">
            <div class="d-flex justify-content-between">
                <p class="link-footer me-4"> &#60;&#60; INICIO PORTAL PARCIENTE </p>
                <p class="link-footer ms-4"> HOSPITAL MILITAR CENTRAL </p>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.paymentez.com/ccapi/sdk/payment_checkout_stable.min.js"></script>
    <link href="https://cdn.paymentez.com/ccapi/sdk/payment_stable.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.paymentez.com/ccapi/sdk/payment_stable.min.js" charset="UTF-8"></script>
    <script src="js/apis.js"></script>
    <script src="js/payment/variables.js"></script>
    <script src="js/payment/events.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>