@page
@model IndexModel
@{
    ViewData["Title"] = "Market";
}

<header class="header container">
    <h1>PAGAR SERVICIOS</h1>
</header>

<div class="list list-group container">
</div>

<div class="list-service container d-none">
</div>

<div id="spin">
    <div class="spin"></div>
</div>
<div>

    <div class="btn-return d-none mb-5">
        <button class="btn">&#60;&#60; Regresar</button>
    </div>
</div>
<script src="js/index.js"></script>