@page
@model WebPaymentGateway.Pages.PayConfirmedModel
@{
}
<div>
    <h1>PAGO COMPLETADO</h1>
    <h2>Numero de transferencia : <span id="idTransfer"></span></h2>
    <h3>Estado Actual: <span id="stateTransfer"></span></h3>
    <h3>Producto: <span id="productTransfer"></span></h3>
</div>

<script src="js/payConfirmed.js"></script>