@page
@model PseValidate
@{
    ViewData["Title"] = "PSE Validate";
}

<div class="container validate-pse">
    <h1>Estado de Transferencia PSE</h1>
    <h2>El estado de la transacion es: <span id="statusTransfer"></span></h2>

    <br>
    <h3 id="mensaje"></h3>
</div>

<div id="spin" class="loading show">
    <div class="spin"></div>
    <h2 class="mensaje-spin">Validando transferencia</h2>
</div>

<script src="js/pseValidate.js"></script>
